/* 
 * Styles for Nav.tsx component
 * Based on sections 04 and 12 from public/css/style.css
 */

.navigation {
  position: fixed;
  right: 0;
  width: 44%;
  min-height: 100%;
  top: 0;
  bottom: 0;
  background-color: #181715;
  transform: translateX(102%);
  transition: all 1s ease;
  z-index: 999;
}

.navOverlay {
  display: block;
  text-decoration: none;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: #1d1b19;
  opacity: 0.9;
  transform: translateX(-102%);
  transition: all 1s ease;
}

.navIn {
  position: relative;
  width: 100%;
  padding: 100px 16%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.closer {
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #888;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  z-index: 55;
  transform: translateZ(0);
  border: 1px solid transparent;
  background: none; /* Ensure it's a button */
  cursor: pointer;
}

.closer:after,
.closer:before {
  top: 18.5px;
  left: -1px;
  content: '';
  position: absolute;
  width: 42px;
  height: 2px;
  background-color: #888;
  transition: all 300ms ease;
  perspective: 30px;
}

.closer:after {
  transform: rotate(45deg) translateZ(0);
}

.closer:before {
  transform: rotate(-45deg) translateZ(0);
}

.closer:hover {
  border-color: var(--mc);
}

.closer:hover:before {
  transform: scale(0.6) rotate(-45deg) translateZ(0);
  background-color: var(--mc);
}

.closer:hover:after {
  transform: scale(0.6) rotate(45deg) translateZ(0);
  background-color: var(--mc);
}

.navContent h3.label {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #888;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 26px;
  letter-spacing: 0.25px;
}

.navContent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navContent ul a {
  text-decoration: none;
  font-size: 30px;
  color: #ddd;
  font-weight: 400;
  line-height: 1.3;
  display: block;
}

.navContent ul a:hover {
  color: var(--mc);
}

.navContent ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  transform: translateX(50px);
  opacity: 0;
  transition: all 500ms ease;
}

.navContent ul li:last-child {
  margin-bottom: 0;
}

.navFooter {
  padding-top: 50px;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(50px);
}

.navFooter.ready {
  transform: translateY(0);
  opacity: 1;
}

/* Global styles needed for the open state */
:global(.nav-opened) .navigation {
  transform: translateX(0%);
}
:global(.nav-opened) .navOverlay {
  transform: translateX(0%);
}
:global(.nav-opened) .navContent ul li {
  transform: translateX(0);
  opacity: 1;
}
